<!-- ~~~ !TEMPLATE DRIVEN APPROACH! ~~~ -->
<form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
  <div id="book-data">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title" />
      <p><span class="help-block text-danger" *ngIf="!reactiveForm.get('title').valid && reactiveForm.get('title').touched">Please enter Title.</span></p>
    </div>

    <!-- Author -->
    <div class="form-group">
      <label for="author">Author</label>
      <input formControlName="author" />
      <p><span class="help-block text-danger" *ngIf="!reactiveForm.get('author').valid && reactiveForm.get('author').touched">Please enter Author.</span></p>
    </div>

    <!-- Genre -->
    <div class="form-group">
      <label for="genre">Genre</label>
      <select formControlName="genre">
        <option value="mystery">Mystery</option>
        <option value="self-help">Self-Help</option>
        <option value="fantasy">Fantasy</option>
        <option value="science-fiction">Science Fiction</option>
      </select>
    <p><span class="help-block text-danger" *ngIf="!reactiveForm.get('genre').valid && reactiveForm.get('genre').touched">Please select Genre.</span></p>
    </div>

    <!-- isBestSeller -->
    <div class="form-group">
      <p>Is this book a best seller?</p>

      <!-- True -->
      <input type="radio" id="true" name="isBestSeller" value="true" />
      <label for="true" class="mr-3">True</label>

      <!-- False -->
      <input type="radio" id="false" name="isBestSeller" value="false" />
      <label for="false">False</label>
    </div>

    <!-- Submit Button -->
    <button class="btn btn-warning" type="submit" [disabled]="!reactiveForm.valid">Submit</button>
  </div>
</form>

<div class="row mt-4" *ngIf="formHasBeenSubmitted">
  <div class="col-xs-12">
    <h3>Title: {{ reactiveForm.value.title }}</h3>
    <h4>Author: {{ reactiveForm.value.author }}</h4>
    <p>Genre: {{ reactiveForm.value.genre }}</p>
    </div>
  </div>
